{% extends 'layouts/base.html' %}

{% block content %}
<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Users</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Users</h3>
                        <button type="button"  class="btn btn-success float-right"
                            data-toggle="modal" data-target="#addUser">Add User</button></h4>
                    </div>
                    <!-- Card body -->
                    <div class="card-body">
                        <table id="datatable" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                              <th>First Name</th>
                              <th>Last Name</th>
                              <th>Username</th>
                              <th>Email</th>
                              <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                              {% for row in user  %}
                              <tr>
                                <td>{{row.first_name}}</td>
                                <td>{{row.last_name}}</td>
                                <td>{{row.username}}</td>
                                <td>{{row.email}}</td>
                                <td>  
                                  <a href="" data-toggle="modal" data-target="#editUser{{row.id}}" data-backdrop="static" data-keyboard="true"><span class="btn btn-primary btn-sm">Edit</span></a>
                                  <a href="" data-toggle="modal" data-target="#deleteModal{{row.id}}" data-backdrop="static" data-keyboard="true"><span class="btn btn-danger btn-sm">Delete</span></a>  
                                </td>
                              </tr>
                              {% include 'edit_user.html' %}
                              {% include 'delete_user.html' %}
                              {% endfor %}
                            </tbody>
                          </table>
                    </div>
                    {% include 'add_user.html' %}
                    <!-- /.Card body -->
                </div>
            </div>
        </div>
    </div>

  </section>
{% endblock content %}

{% block js %} <-- page specific scripts
 
<!-- <script>
    $(function () {
    $('table ').DataTable( {
        "paging": true,
        "searching": true,
        "autoWidth": false,
        "ordering": true,
        "columnDefs": [
            {"width": "50px", "targets": 0},
            {"width": "250px", "targets": 1},
        ],
    }
    );
} );
</script> -->

<!-- <script>

  $(function () {
      $('table').DataTable({
          processing: true,
          serverSide: false
      });
  });

  </script> -->
 
{% endblock js %}